/* Animação para a imagem saindo para a direita */
@keyframes anim-image-right {
  0% {
    transform: translateX(0);
    opacity: 1;
    overflow-x: hidden;
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
    overflow-x: hidden;
  }
}

/* Animação para a imagem saindo para a esquerda */
@keyframes anim-image-left {
  0% {
    transform: translateX(0);
    opacity: 1;
    overflow-x: hidden;
  }
  100% {
    transform: translateX(20%);
    opacity: 0;
    overflow-x: hidden;
  }
}

.anim-image-left {
  animation: anim-image-left 0.2s forwards;
  overflow-x: hidden;
}

.anim-image-right {
  animation: anim-image-right 0.2s forwards;
  overflow-x: hidden;
}
