/* Define a perspectiva para o container */
.carousel-container {
  perspective: 1000px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Rotaciona a imagem da esquerda */
.image-left {
  transform: rotateY(-40deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin-right: -120px;
  opacity: 0.5;
}

/* Centraliza e destaca a imagem do meio */
.image-center {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1;
}

/* Rotaciona a imagem da direita */
.image-right {
  transform: rotateY(40deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin-left: -120px;
  opacity: 0.5;
}

/* Animação para a imagem da esquerda */
@keyframes anim-left {
  0% {
    margin-right: -400px;
    opacity: 0.2;
  }
  50% {
    margin-right: -200px;
    opacity: 0.5;
  }
  100% {
    margin-right: -120px;
    opacity: 0.7;
  }
}

/* Animação para a imagem da direita */
@keyframes anim-right {
  0% {
    margin-left: -400px;
    opacity: 0.2;
  }
  50% {
    margin-left: -200px;
    opacity: 0.5;
  }
  100% {
    margin-left: -120px;
    opacity: 0.7;
  }
}

.anim-left {
  animation: anim-left 0.8s forwards;
}

.anim-right {
  animation: anim-right 0.8s forwards;
}
